html
	font-family Tahoma, Verdana, Helvetica, Arial, sans-serif
	line-height 1.2em
	overflow-y: scroll

body
	margin 0

[contenteditable=true]:empty:before
	display block
	content attr(placeholder)
	color #aaa
