[submodule "lib/boost/filesystem"]
	path = lib/boost/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "lib/boost/algorithm"]
	path = lib/boost/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "lib/mongoose/mongoose"]
	path = lib/mongoose/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "lib/boost/system"]
	path = lib/boost/system
	url = https://github.com/boostorg/system.git
[submodule "lib/boost/predef"]
	path = lib/boost/predef
	url = https://github.com/boostorg/predef
