.file-entry
	position relative

	&__clickable-space
		display inline-block
		cursor pointer
		width 100%

	&__arrow
		display inline
		margin-right 4px

		&:before
			content "·\00a0"

		&--folded:before
			content "▸"

		&--unfolded:before
			content "▾"

	&__title
		display inline

	&__desc
		display inline
		color #999

	&__buttons
		display inline
		position absolute
		right 4px

		&__button
			display inline
			padding 4px 8px
			margin 0 2px
			border 1px solid #aaa
			border-radius 4px
			cursor pointer
			transition-duration 0.5s

			&:hover
				background-color #dfb

			&--hidden
				display none

	&__children
		margin-left 14px

		&--folded
			display none
