[% INCLUDE header.tt2 %]

<header id="main-bottom-header">
	<a>%FILE%</a>
	<a class="ajax-result"></a>
	<nav>
		<form><input type="file" id="file-upload"></input></form>
		<a href="">%DISCARDSTR%</a>
		<a class="save-btn">%SAVESTR%</a>
	</nav>
</header>
<div class="editor-image-wrap">
%FILEDATA%
</div>

[% INCLUDE footer.tt2 %]
