[% INCLUDE header.tt2 %]

<table class="file-list">
%FILELIST%
<tr class="empty16"></tr>
<tr><td>
	<button class="create-file">%CREATEFILESTR%</button>
	<span class="create-file-input">%ENTERFILENAMESTR%:&nbsp;&nbsp; <input type="text"></input> .html</span>
</td></tr>
</table>

[% INCLUDE footer.tt2 %]
