[% INCLUDE header.tt2 %]

<header id="main-bottom-header">
	<a>%FILE%</a>
	<a class="ajax-result"></a>
	<nav>
		<a href="">%DISCARDSTR%</a>
		<a class="save-btn">%SAVESTR%</a>
	</nav>
</header>
<table class="editor-wrap">
	<tr>
		<td contenteditable class="editor-area">
		%FILEDATA%
		</td>
	</tr>
</table>

[% INCLUDE footer.tt2 %]
