<div class="mwfe">
	<div class="mwfe__toolbar">
		<div class="mwfe__toolbar__item mwfe__toolbar__item--bold" title="Bold">
			<b>B</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--italic" title="Italic">
			<i>I</i>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--underline" title="Underline">
			<u>U</u>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--strikethrough" title="Strikethrough">
			<s>S</s>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--ul-list" title="Unordered list">
			<ul>
				<li>—</li>
				<li>—</li>
				<li>—</li>
			</ul>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--ol-list" title="Ordered list">
			<ol>
				<li>—</li>
				<li>—</li>
				<li>—</li>
			</ol>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--link" title="Link">
			<u><b>A</b><u>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--img" title="Image">
			<b>▨</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--quote" title="Quote">
			<b>”</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--code" title="Code">
			<b>{ }</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--hr" title="Horizontal line">
			<b>—</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h2" title="Heading 2">
			<b>H2</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h3" title="Heading 3">
			<b>H3</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h4" title="Heading 4">
			<b>H4</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h5" title="Heading 5">
			<b>H5</b>
		</div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h6" title="Heading 6">
			<b>H6</b>
		</div>
	</div>
	<div class="mwfe__main">
	</div>
</div>