<div class="mwfe">
	<div class="mwfe__toolbar">
		<div class="mwfe__toolbar__item mwfe__toolbar__item--bold" title="Bold"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--italic" title="Italic"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--underline" title="Underline"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--strikethrough" title="Strikethrough"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--ul" title="Unordered list"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--ol" title="Ordered list"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--link" title="Link"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--image" title="Image"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--quote" title="Quote"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--code" title="Code"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--hr" title="Horizontal line"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h2" title="Heading 2"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h3" title="Heading 3"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h4" title="Heading 4"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h5" title="Heading 5"></div>
		<div class="mwfe__toolbar__item mwfe__toolbar__item--h6" title="Heading 6"></div>
	</div>
	<div class="mwfe__main" placeholder="Enter some text here..." contenteditable="true"></div>
</div>
