<header class="top-bar top-bar--fixed">
	<div class="top-bar__back-button"></div>
	<div class="top-bar__title"></div>
	<div class="top-bar__desc"></div>
	<div class="top-bar__buttons">
		<div class="top-bar__tabs">
			<span class="_WebGUI.getStr" data-webgui-getstr="Views"></span>:&nbsp;
		</div>
		<div class="top-bar__buttons__button top-bar__buttons__button--edittitle _WebGUI.getStr" data-webgui-getstr="Edit title"></div>
		<div class="top-bar__buttons__button top-bar__buttons__button--publish _WebGUI.getStr" data-webgui-getstr="Publish"></div>
	</div>
</header>
<div style="height: 42px"></div>
<main class="editor-main">
</main>
