* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans;
}

body {
	font-size: 1.1em;
}

a {
	color: #00a000;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button {
	color: #fff;
	background-color: #00a000;
	border-radius: 4px;
	font: inherit;
	padding: 4px;
	border: 1px #008000 solid;

	&:hover {
		background-color: #00b000;
	}
}

.empty16 {
	height: 16px;
}

.page-header {
	background-color: #00a000;
	padding: 8px;

	a {
		color: #fff;
		padding: 0px 8px;
	}

	nav {
		float: right;
	}
}

#main-header {
	.page-header;
	a {
		font-size: 1.5em;
	}
}

#main-bottom-header {
	.page-header;
	background-color: #00b000;
}

.pad {
	padding: 16px;
}

.editor-wrap {
	width: 100%;
	height: 100%;
	table-layout: fixed;

	td {
		vertical-align: top;
		border: none;
	}
}

.editor-label {
	.pad;
	border-top: 1px #aaa dashed;
	text-align: center;
}

.editor-area {
	.pad;
	outline: none;
	word-wrap: break-word;
	box-shadow: inset 0px 0px 4px #aaa;

	&:focus {
		box-shadow: inset 0px 0px 4px #000;
	}
}

.editor-result {
	.pad;
	box-shadow: inset 0px 0px 4px #aaa;

	&:focus {
		box-shadow: inset 0px 0px 4px #000;
	}
}
